<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-link" href="/listings">Explore</a>
        </div>
        <div class="navbar-nav" id="search-bar">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-inp" type="search" placeholder="Search destination" aria-label="Search">
            <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
        
        <div class="navbar-nav ms-auto">
          <a class="nav-link airbnb-home" href="/listings/new">Airbnb your home</a>
            <% if (!currUser) { %>
              <a class="nav-link" href="/signup"><b>SignUp</b></a>
              <a class="nav-link" href="/login"><b>LogIn</b></a>
            <% } %>
            
            <% if (currUser) { %>
              <div class="navbar-nav ms-auto user-icon">
                <div class="user" id="userIcon" onclick="toggleDropdown()">
                  <i class="fa-solid fa-user" id="icon"></i>
                  <p>User</p>
                </div>
                <div id="myDropdown" class="dropdown-content">
                  <p><%= currUser.username %></p>
                  <p><%= currUser.email %></p>
                  <a class="nav-link" href="/logout"><b>LogOut</b></a>
                </div>
              </div>
            <% } %>
        </div>
      </div>
    </div>
  </nav>

<script>
  function toggleDropdown() {
    const dropdown = document.getElementById('myDropdown');
    dropdown.classList.toggle('show');
  }

  // Close dropdown when clicking outside
  window.addEventListener('click', (e) => {
    const userIcon = document.getElementById('userIcon');
    const dropdown = document.getElementById('myDropdown');
    if (!userIcon.contains(e.target) && !dropdown.contains(e.target)) {
      dropdown.classList.remove('show');
    }
  });
</script>